{{ define "ssd.discord.title" -}}
[{{ .Status | toUpper }}] {{ .CommonLabels.alertname }}
{{- end }}

{{ define "ssd.discord.message" -}}
{{ range .Alerts -}}
- service={{ .Labels.service }} severity={{ .Labels.severity }}
  summary={{ .Annotations.summary }}
  description={{ .Annotations.description }}
{{ end -}}
{{- end }}
