version: "3.9"

services:
  app:
    image: ${DOCKER_IMAGE}
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: dev
    volumes:
      - ./application-dev.yml:/app/config/application-dev.yml:ro
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "no"]
